@import "compass";
@import "compass/css3/transition";
@import "compass/css3/transform";
@import "susy";
@import "breakpoint";

$ptab: 600px;
$portraittab: 768px;
$tab: 1024px;

$menuanimate: all 0.4s cubic-bezier(0.75, 0.25, 0.25, 0.75);

/*! HELLO! I see you're having a look around... */

/* HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }


html{
  height:100%;
}
body{
  background-color:#444;
  width:100%;
  font-family: "proxima-nova",sans-serif;
  color:#fff;
  font-size:16px;
  line-height:26px;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

a:link, a:visited {
  color:#fff;
  text-decoration: none;
}

.social {
  margin:0;
  padding:0;
  list-style-type: none;
  font-size:1.5em;
}
.social li {
  display:inline;
  margin-right:0.85em;

}

.peter {
  border-radius:100px;
  display:block;
  opacity:0.95;
  margin:auto;
  margin-bottom:1em;
  width:120px;
  height:auto;
  @include breakpoint($ptab){
    width:200px;
  }

  &:hover{

  }
}


/**
 * HOMEPAGE COVER
 */



.overlay {
  background: #05b2c6;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  z-index: 3;
}



.overlay .loading {
  background:#444;
  height:8px;
  width:0%;
  display:block;
  content:'';
  @include transition(width 0.3s linear);
}


@-webkit-keyframes bounce {
0%, 20%, 50%, 80%, 100% {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

40% {
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -ms-transform: translateY(20px);
  transform: translateY(20px);
}

60% {
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  transform: translateY(10px);
}
}
@-moz-keyframes bounce {
0%, 20%, 50%, 80%, 100% {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

40% {
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -ms-transform: translateY(20px);
  transform: translateY(20px);
}

60% {
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  transform: translateY(10px);
}
}
@-ms-keyframes bounce {
0%, 20%, 50%, 80%, 100% {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

40% {
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -ms-transform: translateY(20px);
  transform: translateY(20px);
}

60% {
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  transform: translateY(10px);
}
}
@keyframes bounce {
0%, 20%, 50%, 80%, 100% {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

40% {
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -ms-transform: translateY(20px);
  transform: translateY(20px);
}

60% {
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  transform: translateY(10px);
}
}


.intro-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  display:table;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0);
  opacity:0;
  @include transition(opacity 0.4s linear);



  .inner {
    padding:0 2em;
      @include breakpoint($portraittab){
        width:600px;
        padding:0;
      }
      margin:auto;
      text-align: center;
      @include transform(translate(0px,40px));
      @include transition(transform 0.4s linear);

      &.moveup{
        @include transform(translate(0px,0px));
      }
  }


  .scrolldown {
    position: absolute;
    bottom: 30px;
    color: #fff;
    font-size: 2em;
    margin-left: auto;
    margin-right: auto;
    left: 50%;
    right: 50%;
    -webkit-animation: bounce 4s infinite;
    -moz-animation: bounce 4s infinite;
    -ms-animation: bounce 4s infinite;
    animation: bounce 4s infinite;

    display:none;
    @include breakpoint($ptab){
      display:block;
    }
  }

  h2 {
    font-size:2.75em;
    line-height:1em;
    font-family: "proxima-nova-condensed",sans-serif;
    margin:24px 0 5px -2px;
    text-transform: uppercase;
    @include breakpoint($ptab){
      font-size:3.3em;
    }
  }
  p {
    font-size:1.1em;
    line-height: 1.4;
    @include breakpoint($ptab){
      font-size:1.5em;
    }
  }

}

.frame {
  background: #05b2c6;
  display:table;
  width:100%;
  background-size: cover;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0);
  opacity:0;
  @include transition(opacity 0.4s linear);

  canvas {
    display:table-cell;
    width:100%;
    height:100%;
  }

  .inner {
    width:600px;
    margin:auto;
    text-align: center;
  }

  h2 {
    font-size:3.3em;
    line-height:1em;
    font-family: "proxima-nova-condensed",sans-serif;
    margin:24px 0 5px -2px;
    text-transform: uppercase;
  }
  p {
    font-size:1.5em;
    line-height: 1.4;
  }
}



/**
 * MAIN CONTAINER
 */

#header, .container, #footer .copyright {
  @include breakpoint($portraittab){
    padding-left:3em;
    padding-right:3em;
    margin:auto;

  }
  @include breakpoint($tab){
    max-width:800px;
  }
}

#header {
  font-size:1.25em;
  margin-bottom:3em;
  h1 {
    font-size:1em;
    opacity:0.6;
    padding-bottom:0.5em;
    border-bottom:1px solid #555;
    @include transition(opacity 0.3s linear);
    &:hover {
      opacity:1;
    }
  }
}


.container {
  font-size:1.25em;
  text-align: left;
}

.container h2 {
  font-size:2em;
  @include breakpoint($portraittab){
    font-size:2.2em;
  }
  line-height:1em;
  font-family: "proxima-nova-condensed",sans-serif;
  margin:15px 0;
  text-transform: uppercase;
}
.container p {
  margin-top:0;
}




#main-content, #footer {
  padding:2em 2em 1em 2em;
  @include breakpoint($portraittab){
    padding:0;
    margin-top:3em;
  }
}


.closed #main-content, .closed #footer {
  @include breakpoint($portraittab){
    margin-left:70px;
  }
}

.home article, article.container.box {
  margin-bottom:3em;
  padding-bottom:2em;
  position:relative;
  border-bottom:1px solid #555;
}

.home.article:after {

}



article .summary a, article .content a {
  border-bottom:1px solid rgba(255,255,255,0.4);
}

article .summary a:hover, article .content a:hover {
  border-bottom:1px solid rgba(255,255,255,0.8);
}

article .summary .more a{
  border: 1px solid rgba(255,255,255,0.3);
  padding: 0.25em 1em;
  display: inline-block;
  font-size: 0.7em;
  text-transform: uppercase;
  font-weight: bold;
  @include transition(all 0.2s linear);
  &:hover {
    border: 1px solid rgba(255,255,255,0.3);
    background: rgba(255,255,255,0.8);
    color:#444;
  }
}

article p.date {
  font-size: 0.75em;
  color: rgba(255,255,255,0.5);
}

#footer {
  /*width:800px;
  margin:auto;*/
}

#footer ul {
  list-style-type: none;
  margin:1em 0;
  padding:0;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


/* ==========================================================================
   Code styling

   ========================================================================== */


code {
  font-family: 'Anonymous Pro', monospace;
  font-size: 0.85em;
  color: #000;
}

pre code {
  display: block;
  line-height: 1.1;
}

p code {
  padding: 0.1em 0.3em 0.2em;
  border-radius: 0.3em;
  position: relative;
  top: -0.15em;
  background: #444;
  color: #fff;
  white-space: nowrap;
}

/* syntax hl stuff */

code.lang-markdown {
  color: #424242;
}

code.lang-markdown .header,
code.lang-markdown .strong {
  font-weight: bold;
}

code.lang-markdown .emphasis {
  font-style: italic;
}

code.lang-markdown .horizontal_rule,
code.lang-markdown .link_label,
code.lang-markdown .code,
code.lang-markdown .header,
code.lang-markdown .link_url {
  color: #555;
}

code.lang-markdown .blockquote,
code.lang-markdown .bullet {
  color: #bbb;
}

/* Tomorrow Night Eighties Theme */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
.tomorrow-comment, pre .comment, pre .title {
  color: #999999;
}

.tomorrow-red, pre .variable, pre .attribute, pre .tag, pre .regexp, pre .ruby .constant, pre .xml .tag .title, pre .xml .pi, pre .xml .doctype, pre .html .doctype, pre .css .id, pre .css .class, pre .css .pseudo {
  color: #f2777a;
}

.tomorrow-orange, pre .number, pre .preprocessor, pre .built_in, pre .literal, pre .params, pre .constant {
  color: #f99157;
}

.tomorrow-yellow, pre .class, pre .ruby .class .title, pre .css .rules .attribute {
  color: #ffcc66;
}

.tomorrow-green, pre .string, pre .value, pre .inheritance, pre .header, pre .ruby .symbol, pre .xml .cdata {
  color: #99cc99;
}

.tomorrow-aqua, pre .css .hexcolor {
  color: #66cccc;
}

.tomorrow-blue, pre .function, pre .python .decorator, pre .python .title, pre .ruby .function .title, pre .ruby .title .keyword, pre .perl .sub, pre .javascript .title, pre .coffeescript .title {
  color: #6699cc;
}

.tomorrow-purple, pre .keyword, pre .javascript .function {
  color: #cc99cc;
}

pre code {
  display: block;
  background: #2d2d2d;
  color: #cccccc;
  font-family: Menlo, Monaco, Consolas, monospace;
  line-height: 1.5;
  /*border: 1px solid #ccc;*/
  padding: 10px;
}