<section id="hero-copy">
  <a href="/"><img src="/img/peter.jpg" alt="Peter Szymczak" class="peter" /></a>

  <h2>Hi, I'm Peter</h2>
  <p>I'm a full-stack web developer based in Vancouver, BC. I'm passionate about great design and building simple solutions to complex problems.</p>
    <ul class="social">
      <li><a href="http://twitter.com/petethedude" target="_blank"><i class="fa fa-twitter"></i></a></li>
      <li><a href="http://instagram.com/petethedude" target="_blank"><i class="fa fa-instagram"></i></a></li>
      <li><a href="http://ca.linkedin.com/pub/peter-szymczak/9/906/35a" target="_blank"><i class="fa fa-linkedin"></i></a></li>
      <li><a href="http://www.github.com/petethedude" target="_blank"><i class="fa fa-github"></i></a></li>
      <li><a href="mailto:peter@technoholic.ca" target="_blank"><i class="fa fa-envelope"></i></a></li>
    </ul>

</section>