<section class="sidebar_left">
  <img src="/img/peter.jpg" alt="Peter Szymczak" class="peter" />

  <h2>Hi, I'm Peter</h2>
  <p>I'm a front-end web developer and designer based in Vancouver, BC. I have a passion for building truly innovative interactive web experiences. I’m particular to PHP, JavaScript, CSS3, HTML5, Photoshop, and Drupal. Right now, I’m obsessed with responsive web design
    and the cool things happening in JavaScript.
  </p>
  <p>
    <ul class="social">
      <li><a href="http://twitter.com/petethedude" target="_blank"><i class="fa fa-twitter"></i></a></li>
      <li><a href="http://instagram.com/petethedude" target="_blank"><i class="fa fa-instagram"></i></a></li>
      <li><a href="http://ca.linkedin.com/pub/peter-szymczak/9/906/35a" target="_blank"><i class="fa fa-linkedin"></i></a></li>
      <li><a href="http://www.github.com/petethedude" target="_blank"><i class="fa fa-github"></i></a></li>
      <li><a href="mailto:peter@defiantinteractive.ca" target="_blank"><i class="fa fa-envelope"></i></a></li>
    </ul>
  </p>
</section>