<aside id="sidebar">
  <a href="/"><img src="/img/peter.jpg" alt="Peter Szymczak" class="peter" /></a>

  <h2>Hi, I'm Peter</h2>
  <p>I'm a front-end web developer based in Vancouver, BC. I'm passionate about great design and building innovative interactive web experiences.</p>
  <p>
    <ul class="social">
      <li><a href="http://twitter.com/petethedude" target="_blank"><i class="fa fa-twitter"></i></a></li>
      <li><a href="http://instagram.com/petethedude" target="_blank"><i class="fa fa-instagram"></i></a></li>
      <li><a href="http://ca.linkedin.com/pub/peter-szymczak/9/906/35a" target="_blank"><i class="fa fa-linkedin"></i></a></li>
      <li><a href="http://www.github.com/petethedude" target="_blank"><i class="fa fa-github"></i></a></li>
      <li><a href="mailto:peter@defiant.io" target="_blank"><i class="fa fa-envelope"></i></a></li>
    </ul>
  </p>
  <div class="activate"><i class="fa fa-chevron-circle-left"></i></div>
</aside>