  {{> header}}

  <div class="overlay"><div class="loading"></div></div>
  <div class="frame">
    <canvas id="stage" width="500" height="100"></canvas>
  </div>
  <header class="intro-text">
    <div class="inner">
      {{> about}}
    </div>

    <i class="fa fa-angle-down scrolldown"></i>
  </header>
  <section class="full-width">
      <article class="art-1 blog">
        <header>
          <h2><a href="/articles/trying-wintersmith-for-blogging/">Trying Wintersmith for blogging</a></h2>
          <p class="date"><span>April 06, 2014</span></p>
        </header>
        <section class="summary">
          <p>I’ve used WordPress, Drupal, and other platforms in past for personal blogs, and for the most part, they’ve always been
          overkill for what I needed the site to do. The idea of using a static site generator like <a href="http://www.wintersmith.io/"> Wintersmith</a> for its the simplicity and performance sounded pretty appealing, so I’m giving it a&nbsp;try.
            </p><p class="more"><a href="/articles/trying-wintersmith-for-blogging/">Read more</a></p>
        </section>
      </article>

      <article class="art-2 instagram"><a href="http://instagram.com/petethedude" target="_blank"><i class="fa fa-instagram"></i></a></article>

      <article class="art-3 instagram"><a href="http://instagram.com/petethedude" target="_blank"><i class="fa fa-instagram"></i></a></article>

      <article class="art-4 twitter">
        <a href="http://twitter.com/petethedude" target="_blank">
        Started the day by waking up early and hitting the gym. Had a 440 calorie ice cream at lunch. #balance
        <br><i class="fa fa-twitter"></i> @petethedude
      </a>
      </article>

      <article class="art-5 instagram"><a href="http://instagram.com/petethedude" target="_blank"><i class="fa fa-instagram"></i></a></article>

      <article class="art-6 twitter">
        <a href="http://twitter.com/petethedude" target="_blank">
        Google launches Web Starter Kit https://developers.google.com/web/starter-kit/
        <br><i class="fa fa-twitter"></i> @petethedude
      </a>
      </article>

      <article class="art-7 instagram"><a href="http://instagram.com/petethedude" target="_blank"><i class="fa fa-instagram"></i></a></article>

      <article class="art-8 blog">
        <header>
          <h2><a href="/articles/code-changes-not-displaying-after-refresh/">PSA: Why your code changes are not displaying after browser refresh</a></h2>
          <p class="date"><span>March 28, 2014</span></p>
        </header>
        <section class="summary">
          <p>After weeks of frustration, I finally figured out why my <span class="caps">PHP</span> code changes on my local development box weren’t always coming up in the browser after several refreshes. As it turns out, it’s a new OPCache setting as of PHP 5.5 that comes with&nbsp;MAMP.
            </p><p class="more"><a href="/articles/code-changes-not-displaying-after-refresh/">Read more</a></p>
        </section>
      </article>

      <article class="art-9 blog">
        <header>
          <h2><a href="/articles/new-ghost-inspired-wordpress-theme/">New Ghost.js inspired WordPress theme</a></h2>
          <p class="date"><span>December 15, 2013</span></p>
        </header>
        <section class="summary">
          <p>Recently, I’ve been inspired by the Ghost blogging platform, which I think has a really clean and elegant default theme, so I built a WordPress theme that borrows from some of the ideas that I liked from that&nbsp;theme.</p><p class="more"><a href="/articles/new-ghost-inspired-wordpress-theme/">Read more</a></p>
        </section>
      </article>

      <article class="art-10 instagram"><a href="http://instagram.com/petethedude" target="_blank"><i class="fa fa-instagram"></i></a></article>

      <article class="art-11 twitter">
        <a href="http://twitter.com/petethedude" target="_blank">
        Epic booing. “@HarrisonMooney: Gary Bettman vs. booing Philadelphia fans at the NHL draft (Video) | Puck Daddy http://sports.yahoo.com/blogs/nhl-puck-daddy/gary-bettman-vs--booing-philadelphia-fans-at-the-nhl-draft--video-011907747.html?soc_src=mediacontentstory …”
        <br><i class="fa fa-twitter"></i> @petethedude
      </a>
      </article>

      <article class="art-12 instagram"><a href="http://instagram.com/petethedude" target="_blank"><i class="fa fa-instagram"></i></a></article>

      <article class="art-13 twitter">
        <a href="http://twitter.com/petethedude" target="_blank">
        Nice clean ZSH theme https://github.com/sindresorhus/pure … by sindresorhus. This guy does everything.
        <br><i class="fa fa-twitter"></i> @petethedude
      </a>
      </article>



      <article class="art-14 instagram"><a href="http://instagram.com/petethedude" target="_blank"><i class="fa fa-instagram"></i></a></article>

      <article class="art-15 instagram"><a href="http://instagram.com/petethedude" target="_blank"><i class="fa fa-instagram"></i></a></article>

      <article class="art-16 blog">
        <header><h2><a href="/articles/improving-your-jquery-code/">Improving your jQuery code</a></h2><p class="date"><span>November 16, 2013</span></p></header><section class="summary"><p>Lately, I’ve been trying to improve my jQuery code performance, and get a better handle on writing plain JavaScript. In terms of jQuery in particular, I came across <a href="http://24ways.org/2011/your-jquery-now-with-less-suck/">this post</a> today, which although a couple years old now, provides some great tips that I think a lot of people could benefit from reading. There are a few great examples of writing better performing jQuery <span class="caps">DOM</span> manipulation in&nbsp;there.</p></section>
      </article>


  </section>





  {{> footer}}

