  <main id="page">
    {{> header}}

    {{> sidebar}}

    <article class="container box">
      <section>
        {{{ pageContents }}}
      </section>
    </article>

    <!-- Back to Homepage Box -->
    <article class="container box">
      <header>
        <h2><a href="/">&larr; Return to Home</a></h2>
      </header>
    </article>

    {{> footer}}
  </main>